<script>
	import Icon from './Icon.vue'

	export default {
		name: 'Carousel',
		components: {
			Icon
		},
		data() {
			return {
				margin: 0,
				step: 0,
				clientWidth: 0
			}
		},
		computed: {
			showLeftSlider() {
				return this.margin < 0
			},
			showRightSlider() {
				const clientWidth = this.$el
					? this.$el.clientWidth - this.$el.children[1].clientWidth - this.step
					: this.clientWidth
				return this.margin > clientWidth
			}
		},
		mounted: function() {
			this.$nextTick(function() {
				this.clientWidth = this.$el.clientWidth - this.$el.children[1].clientWidth
				this.step = this.$el.children[1].children[0]
					? this.$el.children[1].children[0].clientWidth
					: 1
			})
		},
		methods: {
			slide(direction) {
				this.margin = this.margin + direction * this.step
			}
		}
	}
</script>

<template>
    <div class="carousel__body">
        <div
                v-show="showLeftSlider"
                class="carousel__fader carousel__fader__right">
            <div
                    class="carousel__fader__arrow"
                    @click="slide(1)">
                <Icon type="right-arrow"/>
            </div>
        </div>
        <div
                :style="{ 'margin-left': margin + 'px' }"
                class="carousel__body__slot">
            <slot/>
        </div>
        <div
                v-show="showRightSlider"
                class="carousel__fader carousel__fader__left">
            <div
                    class="carousel__fader__arrow"
                    @click="slide(-1)">
                <Icon type="left-arrow"/>
            </div>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .carousel {
        &__body {
            display: flex;
            flex-direction: row;
            padding: $spacer;
            width: 100%;
            overflow: hidden;
            position: relative;
            &__slot {
                display: flex;
                flex-direction: row;
            }
        }
        &__fader {
            display: flex;
            align-items: center;
            width: 96px;
            height: 100%;
            position: absolute;
            top: 0;
            &__left {
                justify-content: flex-end;
                right: 0;
                background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
            }
            &__right {
                justify-content: flex-start;
                left: 0;
                background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
            }
            &__arrow {
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $cVulcanGray91;
                cursor: pointer;
            }
        }
    }
</style>